
.day-summary {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.day-summary .week-day {
    font-weight: bold;
    color: #777777;
    white-space: nowrap;
}

.day-summary .total-ust-day {
	font-weight: bold;
    color: darkgray;
    white-space: nowrap;
    display:block;
	position: absolute;
	bottom: 5px;
}

.day-summary.future {
    background-color: #f7e1b5;
}

.day-summary .total {
    display: block;
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid #D5D5D5;
}

.day-summary .worktotal {
    font-weight: bold;
    font-size: smaller;
    color: #777777;
    margin-left: 8px;
}

.day-summary .worktotal.ratio-good {
    color: #398439;
}

.day-summary .worktotal.ratio-wrong {
    color: #b92c28;
}

.day-summary.empty .total {
    color: #777777;
}

.day-summary.empty.workday:not(.absence) .total {
    color: inherit;
}

.day-summary .workitems {
    display: block;
}

.day-summary .workitems .workitem {
    display: block;
}

.day-summary .workitems .workitem .daytotal {
    margin-left: 4px;
}

.day-summary .workitems .workitem .description {
    font-weight: bold;
    color: #779ECB;
}

.workitem-list {
    margin-left: 5px;
    margin-bottom: 20px;
}

.workitem-list .row {
    border-bottom: 1px dashed #dbdbdb;
}

.workitem-list .parents .workitem {
    margin-left: 0;
    margin-right: 0;
}

.workitem-list .workitem:hover .id {
    text-decoration: underline;
}

.workitem-list .workitem {
    margin: 5px 5px 10px;
    box-shadow: 0 2px 4px #888888;
    -webkit-box-shadow: 0 2px 4px #888888;
    display: inline-block;
    width: 20em;
    padding: 0;
    cursor: pointer;
    border-spacing: 0;
    vertical-align: top;
}

.workitem-list .workitem a,
.workitem-list .workitem a:hover,
.workitem-list .workitem a:active,
.workitem-list .workitem a:focus {
    color: inherit;
    text-decoration: inherit;
}

.workitem-list .workitem .id::before {
    content: '';
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(../img/wi-icons.png) no-repeat;
}

.workitem-list .workitem .id {
    display: block;
    background-color: #dbdbdb;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0;
    padding: 2px 5px;
}

.workitem-list .workitem .name {
    display: block;
    padding: 2px 5px 5px;
}

.workitem-list .workitem.task {
    background-color: rgb(253, 253, 236);
}

.workitem-list .workitem.task .id {
    background-color: rgb(247, 248, 182);
}

.workitem-list .workitem.task .id::before {
    display: inline-block;
    background-position: -32px -16px;
}

.workitem-list .workitem.story {
    background-color: rgb(216, 228, 250);
    width: 100%;
}

.workitem-list .workitem.story .id {
    background-color: rgb(100, 149, 237);
}

.workitem-list .workitem.story .id::before {
    display: inline-block;
    background-position: -64px 0;
}

.workitem-list .workitem.defect {
    background-color: rgb(252, 232, 216);
}

.workitem-list .workitem.defect .id {
    background-color: rgb(244, 164, 96)
}

.workitem-list .workitem.defect .id::before {
    display: inline-block;
    background-position: 0 -32px;
}

.report-buttons {
    margin-right: 20px;
}

#loginPanel {
    width: 300px;
}

#loginPanel button[type="submit"] {
    padding-left: 20px;
    padding-right: 20px;
}

#progressPanel {
    width: 300px;
}

/* classes geradas a partir de my.less */
.col-md-1-7 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/**************** SPINNER BEGIN ******************/
.spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/**************** SPINNER END ******************/

@media (min-width: 992px) {
    .col-md-1-7 {
        float: left;
        width: 14.28571428%;
    }
}

.col-sm-1-7 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .col-sm-1-7 {
        float: left;
        width: 14.28571428%;
    }
}

.src-link {
    margin: 0 10px;
    font-size: small;
    color: #777777;
}